/* 
 * SimpleStyles main site styles
 * SimpleEngine CSS Framework
 * Brought to life by Jonathan Whiting and the SimpleEngine Team.
 *
 * Big thanks to those who have gone before us. HTML Boilerplate, 960 grid, OOCSS, Twitter Bootstrap
 */
 
/* ==========================================================================
   Convenience Classes
   ========================================================================== */

/** Hide from both screenreaders and browsers: h5bp.com/u **/
.hide {
    display: none !important;
    visibility: hidden;
}
/** Hide only visually, but have it available for screenreaders: h5bp.com/v **/
.hide.visually {
	border: 0;
	clip: rect(0 0 0 0);
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: inherit;
    width: 1px;
}
/** Hide visually and from screenreaders, but maintain layout **/
.invisible {
	display: block;
    visibility: hidden;
}
/** Clearfix: contain floats. **/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/** For IE 6/7 only. Include this rule to trigger hasLayout and contain floats. **/
.clearfix {
    *zoom: 1;
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */

/* ==========================================================================
   Font-family
   ========================================================================== */
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/** Corrects font family set oddly in IE 6, Safari 4/5, and Chrome. **/
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
}

/* ==========================================================================
   Typography
   ========================================================================== */
body {
    font: 14px/1.618 sans-serif;
    color: #222;
}
h1 {
    font-size: 2em;
    margin: 0 0 0.62em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0 0 0.62em 0;
}
h3 {
    font-size: 1.17em;    
    margin: 0 0 0.62em 0;
}
h4 {
    font-size: 1em;
    margin: 0 0 0.62em 0;
}
h5 {
    font-size: 0.83em;
    margin: 0 0 0.62em 0;
}
h6 {
    font-size: 0.75em;
    margin: 0 0 0.62em 0;
}
p {
	margin: 0 0 0.62em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
/** Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. **/
b,
strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
/** Definition tag: Addresses styling not present in Safari 5 and Chrome. **/
dfn {
    font-style: italic;
}
/** Highlight tag (used to highlight words): Addresses styling not present in IE 6/7/8/9. **/
mark {
    background: #ff0;
    color: #000;
}
/** Addresses margins set differently in IE 6/7. **/
pre {
    margin: 1em 0;
}
code,
kbd,
pre,
samp {
    font-size: 1em;
}
/** Improves readability of pre-formatted text in all browsers. **/
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/** Addresses CSS quotes not supported in IE 6/7. **/
q {
    quotes: none;
}
/** Addresses `quotes` property not supported in Safari 4. **/
q:before,
q:after {
    content: '';
    content: none;
}
/** Addresses inconsistent and variable font size in all browsers. **/
small {
    font-size: 80%;
}
/** Prevents `sub` and `sup` affecting `line-height` in all browsers. **/
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/** Allow only vertical resizing of textareas. **/
textarea {
    resize: vertical;
}
/** A better looking default horizontal rule **/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/** Use this inside a colspan to add a gutter to a column **/
.block {
	padding: 10px;
}
/** Extend block **/
.block.primary {
	background: #b2dc98;
}
.block.secondary {
	background: #eee; 
	padding: 0px;
	margin: 10px;
}
.block.demonstration {
	margin-left: -60px;
	background: #eee;
}

[class*="span"].primary { 
	background: #b2dc98;
	min-height: 30px; 
}
[class*="span"].secondary { 
	background: #eee; 
	min-height: 30px;
}




